{% extends 'base.html' %}
{% load coretags %}

{% block title %}Log In{% endblock %}

{% block body %}
   <script>
        currentPage = 'login';
    </script>

    <div class="container my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7 col-sm-12">
                <div class="col wrapper p-4 px-5">
                    <h1 class="title maintitle mt-2 mb-1">Log In</h1>
                    <p class="title subtitle mb-4">Get unlimited and unrestricted access to enjoy {% get_site_name %}!</p>

                    {% if form.non_field_errors %}
                        <div class="mb-4">
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger alert-dismissible font-comfortaa fade show p-2 pe-5 mb-4" role="alert">
                                    {{ error }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" style="outline: none !important; box-shadow: none !important;"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form action="{% url 'core:login' %}" method="POST" autocomplete="off">
                        {% csrf_token %}

                        <div class="row mb-3">
                            <div class="col gx-3">
                                <div class="form-group">
                                    {{ form.username }}
                                    <label class="form-floating-label font-comfortaa" for="username" onclick="document.querySelector('#username').focus();">{{ form.username.label }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col gx-3">
                                <div class="form-group">
                                    {{ form.password }}
                                    <label class="form-floating-label font-comfortaa" for="password" onclick="document.querySelector('#password').focus();">{{ form.password.label }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <div class="row align-items-center justify-content-center text-center">
                                <div class="col-lg-4 col-sm-12">
                                    <div class="col">
                                        <input type="submit" class="btn btn-success font-comfortaa py-2" value="Log In" style="width: 100%;">
                                    </div>
                                </div>
                                <p class="font-comfortaa mt-4">New here? <a href="{% url 'core:register' %}" class="form-link">Sign up</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}