{% extends "base.html" %}

{% block body %}
    <div class="body-container d-flex h-100">
        <div class="sidenav sidenav-dark">
        </div>

        <div class="mainpage-container d-flex all-100 flex-column">
            <div class="topnav topnav-dark">
            </div>

            <div class="categories categories-dark d-flex px-3">
                {% for category in categories %}
                    {% if forloop.first %}
                        <button class="category category-dark category-dark-selected rounded-pill d-flex font-roboto fw-400 my-auto mx-2">
                            <div style="font-size: 11pt;" class="my-auto">{{ category }}</div>
                        </button>
                    {% else %}
                        <button class="category category-dark rounded-pill d-flex font-roboto fw-400 my-auto mx-2">
                            <div style="font-size: 11pt;" class="my-auto">{{ category }}</div>
                        </button>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="mainpage mainpage-dark">
            </div>
        </div>
    </div>
    
{% endblock %}
