body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #181818;
}

.sidenav
{
    height: 100%;
    flex: 0 0 15em !important;
}

.sidenav-collapsed { flex-basis: 1em !important; }

.sidenav-dark { background-color: #222; }

.mainpage-container
{
    min-width: 0 !important;
}

.mainpage-dark { background-color: #181818; }

.topnav
{
    height: 4em;
    border-bottom: 1px solid #333;
}

.topnav-dark { background-color: #222; }

.categories-wrapper
{
    overflow-x: auto;
    flex-grow: 1;
    flex-basis: auto;
}

.categories
{
    height: 3.6rem;
    border-bottom: 1px solid #333;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.categories::-webkit-scrollbar
{
    display: none;
}

.categories-dark { background-color: #222; }

.category
{
    height: 2em;
    min-width: fit-content;
    padding: 0 12px;
    box-sizing: border-box;
    transition: all 275ms ease-in-out;
}

.category-dark
{
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid #4d4d4d;
}

.category-dark:hover
{
    background-color: rgba(255, 255, 255, 0.2);
}

.category-dark-selected
{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);
    border: none;
}

.category-dark-selected:hover
{
    background-color: #fff !important;
    color: rgba(0, 0, 0, 0.9) !important;
}

.categories-right-dark
{
    border-bottom: 1px solid #333;
    color: #ddd;
    background: linear-gradient(to right, 
    rgba(0, 0, 0, 0),
    #222 35%,
    #222
    );
    margin-left: -6em;
}

.categories-left-dark
{ 
    border-bottom: 1px solid #333;
    color: #ddd;
    background: linear-gradient(to left, 
    rgba(0, 0, 0, 0),
    #222 35%,
    #222
    );
    margin-right: -6em;
}

.categories-scroller
{
    cursor: pointer;
    width: 6em !important;
    min-width: 6em !important;
    max-width: 6em !important;
    max-height: 3.6em;
    z-index: 10;
}

.categories-scroller:hover { color: #fff; }

.menu-icon-wrapper
{
    padding: 0.6em 0.9em;
    font-size: 1.3em;
    cursor: pointer;
    background-color: #222;
    border: none;
    outline: none;
}

.menu-icon-wrapper:focus
{
    border: none;
    outline: none;
}

.menu-dark
{
    color: white;
}

.youtube-logo
{
    height: 1.3rem;
    margin-left: 4.3rem;
    margin-top: 0.9em;
    margin-right: 3em;
    position: absolute;
}

.logo 
{
    will-change: transform; 
    image-rendering: -webkit-optimize-contrast; 
}
